<html><head>
	<title> Achieve.ly | Use smart contracts to commit yourself the hard way. </title>
	
	<!-- Custom CSS --> 
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/index.css') }}" type="text/css">
	<link rel="stylesheet" media="screen and (max-width: 1400px)" href="{{ url_for('static', filename='assets/index1400.css') }}" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Custom JS --> 
	<script src="{{ url_for('static', filename='assets/letsGo.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/createContract.js') }}"></script> 
	<!-- A timer --> 
	<script src="{{ url_for('static', filename='assets/countdown.css') }}"></script>
	<!-- Fontawesome --> 
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Achieve.ly lets you commit yourself to running goals the hard way, leveraging the power of Blockchain Technology.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0;">
	<script>
		$(document).ready(function(){
			if( {{ session["redirect"] }} == 1){
			redirect();


			}

		});
	</script>
</head>


<body>


	<!--<h1 id="teaser"> You want to run more? Be committed to your goals. This site will help you do it.
	</h1> -->

	<h1 id="needToWrite"> I will run<span id="quantity" onkeyup="handleParameterChange()" contenteditable="true"> {{ session["distance"] }}</span> km every
		week<span id="until"> 
		for  <span id="deadlineDate" onkeyup="handleParameterChange()" contenteditable="true"> {{ session["duedate"] }} </span>
		weeks</span><span id="orpay" style="display:none">, or I will pay <span style="color: #01939a">€</span><span id="amount" onkeyup="handleParameterChange()" contenteditable="true">{{ session["amount"] }}</span></span>.
	</h1> 






	<div id="letsGo"> 
		<i class="fa fa-arrow-circle-down" style="font-size: 350%;margin-bottom:15px;"> </i>
		<br />
		<span class="steps" id="step-1">Set your goal!</span>
		<span class="steps" id="step-2">Make it serious!</span>
		<span class="steps" id="step-3">Connect Google Fit!</span>
		<span class="steps" id="step-4">Create a smart contract!</span>
		
	</div>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="blueText bulletPoints" id="googleFit">
		Your running is automatically tracked with Google Fit. What is your email address?
		<br /><br />
		<input type="text" id="email" style="background-color: #fff; visibility: visible;" value="{{ session['useremail'] }}" />
	</div>


	<div class="blueText bulletPoints" id="howItWorks">
		You will now create an <span>Etherium smart contract</span>, with <span style="color: #000000" id="r-valueInEther">0.44</span> Ether &mdash; that's <span style="color: #000000">€</span><span style="color: #000000" id="r-valueInEur">100</span> &mdash; staked in it. As long as you run more than <span style="color: #000000" id="r-distance">12</span> km per week, the contract will return the money in <span style="color: #000000" id="r-duration">4</span> weeks. If you fail, the smart contract will destroy the money.
	</div>

		<div class="blueText bulletPoints" id="waiting">
		Be patient! Your contract is being mined on the Etherium blockchain...  
		</div>

		<div class="blueText bulletPoints" id="success">
		Congratulations! Your smart contract is now mined on the Etherium blockchain with address <a href=""><span id="scAddress"></span></a>.  
		</div>
			</div>
		</div>



</body></html>