<html><head>
	<title> Achieve.ly | Use smart contracts to commit yourself the hard way. </title>
	
	<!-- Custom CSS --> 
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/index.css') }}" type="text/css">
	<link rel="stylesheet" media="screen and (max-width: 1400px)" href="{{ url_for('static', filename='assets/index1400.css') }}" type="text/css">

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Custom JS --> 
	<script src="{{ url_for('static', filename='assets/letsGo.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/createContract.js') }}"></script> 
	<!-- A timer --> 
	<script src="{{ url_for('static', filename='assets/countdown.css') }}"></script>
	<!-- Fontawesome --> 
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Achieve.ly lets you commit yourself to running goals the hard way, leveraging the power of Blockchain Technology.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0;">
</head>


<body>
	<span id="circle" style="display: inline; top: -125px; left: -127px;"> <span id="editTheRed"> edit the red </span> </span>

	<!--<h1 id="teaser"> You want to run more? Be committed to your goals. This site will help you do it.
	</h1> -->

	<h1 id="needToWrite"> I will run<span id="quantity" onkeyup="handleParameterChange()" contenteditable="true"> 12</span> km every 
		week<span id="until"> 
		for  <span id="deadlineDate" onkeyup="handleParameterChange()" contenteditable="true"> 4 </span> 
		weeks</span><span id="orpay" style="display:none">, or I will pay<span id="amount" onkeyup="handleParameterChange()" contenteditable="true"> €100</span></span>. 
	</h1> 






	<div id="letsGo"> 
		<i class="fa fa-arrow-circle-down" style="font-size: 350%;margin-bottom:15px;"> </i>
		<br />
		<span class="steps" id="step-1">Set your goal!</span>
		<span class="steps" id="step-2">Make it serious!</span>
		<span class="steps" id="step-3">Connect Google Fit!</span>
		<span class="steps" id="step-4">Create a smart contract!</span>
		
	</div>


	<div class="blueText bulletPoints" id="googleFit"> 
		What is your email address?
		<br /><br />
		<input type="text" id="email" style="background-color: #fff;" />
	</div>
		
	<div class="blueText bulletPoints" id="howItWorks"> 
		You will now create an <span>Etherium smart contract</span>, with an equivalent of €100 staked in it. As long as you run more than 12 km per week, the contract will return the money in 4 weeks. If you fail, the smart contract will destroy the money.
	</div>


	<div class="blueText bulletPoints" id="workWithResearch">  And if you have to do research and reading, you better bump that up to <span class="redText" id="researchTime">6 hours, and 40 minutes</span> which means you'll be done at <span class="redText" id="finishTimeWithResearch">4:55am</span>.</div>

	<div class="blueText bulletPoints" id="paragraphsPerMinute"> You should be completing a paragraph every <span class="redText"> 11 minutes </span> and a page every <span id="minutesPerPage" class="redText"> 34 minutes</span>.</div>


</body></html>