<!DOCTYPE html>
<html>
<head>
<title>Reponsive HTML Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html">ebi</a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-justified">
          <li class="active"><a href="/">Home</a></li>
          <!--<li class="dropdown">
            <div class="dropper"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
              <ul class="dropdown-menu">
				  <li><a href="index_boxed.html">Home / Boxed</a></li>
                  <li><a href="index_with_blog.html">Home + Blog</a></li>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="typography.html">Typography</a></li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                  <li><a href="store.html">Web Store</a></li>
                  <li><a href="blog.html">Blog & News</a></li>
                  <li><a href="tables.html">Tables</a></li>
                  <li><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
          </li>-->
          <li><a href="{{ url_for('form') }}">Commit</a></li>
          <!--<li><a href="right_sidebar.html">right sidebar</a></li>
          <li><a href="full_width.html">full page</a></li>
          <li><a href="contact.html">contact us</a></li>-->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</header>
{% block body %}{% endblock %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><small>About</small></h3>
        <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
          <br />
          If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.</p>
      </div>
      <div class="col-md-3">
        <h3><small>Tweets</small></h3>
        <p><span>Tweet</span> <a href="#">@You</a><br />
          Etiam egestas, ipsum posuere accumsan sollicitudin, nulla mauris volutpat sem, sit amet rutrum risus. </p>
        <p><span>Tweet</span> <a href="#">@You</a><br />
          Quisque porta tellus vitae adipiscing molestie. Mauris et lacus blandit, malesuada.</p>
      </div>
      <div class="col-md-3">
        <h3><small>Mailing list</small></h3>
        <p>Subscribe to our mailing list for offers, news updates and more!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">your email:</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="your email:">
          </div>
          <button type="submit" class="btn btn-default">subscribe</button>
        </form>
      </div>
      <div class="col-md-3">
        <h3><small>Social</small></h3>
        <p>123 Business Way<br />
          San Francisco, CA 94108<br />
          USA<br />
          <br />
          Phone: (888) 123-4567<br />
          Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons"> <a href="#" class="socialicon socialicon-twitter"></a> <a href="#" class="socialicon socialicon-facebook"></a> <a href="#" class="socialicon socialicon-google"></a> <a href="#" class="socialicon socialicon-mail"></a> </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright ABC Company. All Rights Reserved.</p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script  src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript">

$('.carousel').carousel({
  interval: 3500, // in milliseconds
  pause: 'none' // set to 'true' to pause slider on mouse hover
})

</script>
</body>
</html>